{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

<section class="text-gray-600 body-font bg-dark">
  <div class="container mx-auto flex px-5 py-8 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="../static/img/about.jpg">
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Us
      </h1>
      <p class="mb-8 leading-relaxed">We worship DATA and thereby we treat data as God. All our design and development
        efforts are focussed on providing the best and ultimate protection and privacy of the customers data.</p>
      <!-- <div class="flex justify-center">
        <button
          class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        <button
          class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
      </div> -->
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">OUR TEAM</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">With Warm Wishes you are Welcome to reach out to us and give
        us an opportunity to build the tech stack which can take your business to much greater heights.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="../static/img/team/puneet.jpeg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Puneet Arora</h2>
            <h3 class="text-gray-500 mb-3">Founder &amp; CEO</h3>
            <p class="mb-4">Puneet is a Technology Leader with more than 22 years of IT Consulting and Management experience in US. He has worked with large IT organizations for fortune 500 companies like MBNA, Bank of America, ATT, Sabre and Aetna. Graduated as an Electronics & Power, and a Masters in Information Technology & Management, he has a tremendous experience in successfully building IT Strategies, building teams and partnering with vendors (Onsite &amp; Offshore) to deliver IT solutions in Web development, Digital Transformation, Cloud Migration, AI/ML, DevOps Automation and Release &amp; Change Management.
            </p>
            <span class="inline-flex">
              <a class="text-gray-500" href="https://www.facebook.com/pubby26/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="ml-2 text-gray-500" href="https://www.linkedin.com/in/puneetarora08/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="../static/img/team/pranav.jpg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Pranav Arora</h2>
            <h3 class="text-gray-500 mb-3">Country Manager - President</h3>
            <p class="mb-4">Pranav is a Developer with the experience in various technologies such as Python Automation and various frameworks in Python such as Django and Flask. He also deals with the web development with NodeJS or Django. He has an excellent command over various Cloud Platforms such as AWS and GCP. He also teaches various online courses such as Computational Thinking, Scratch Programming, Web Development and Python Programming. Graduated as B.Tech. in Electronics and Communication, he worked as a Network Engineer Intern in CISCO, Bangalore.</p>
            <span class="inline-flex">
              <a class="text-gray-500" href="https://www.facebook.com/cosmicpranav007/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="ml-2 text-gray-500" href="https://www.linkedin.com/in/pranav-arora-354b71bb/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
              <a class="ml-2 text-gray-500" href="https://github.com/pranavarora1895" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="../static/img/team/peush.JPG">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Peush Arora</h2>
            <h3 class="text-gray-500 mb-3">Chief Consultant - Vice President</h3>
            <p class="mb-4">With 32+ years of teaching experience, he has taught 30 batches of classes X(ICSE) & 27 batches of XII(ISC) successfully, the students passed out with outstanding results till date. His experience in Programming languages like C++ and Java, he worked at ICS (Informatics Computer Systems), New Delhi, one of the leading Computer Training Organization in India, specialized in School Computer Education Programme. He teaches Java on his YouTube Channel - Learn Online With Peush Arora.</p>
            <span class="inline-flex">
              <a class="text-gray-500" href="mailto:peusharora15167@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i>
              </a>
              <a class="ml-2 text-gray-500" href="https://www.youtube.com/channel/UC-TrrHwhyT7brrYMNNU5Ysg/featured" target="_blank">
                <i class="fa fa-youtube-play"></i>
              </a>
              <!-- <a class="ml-2 text-gray-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-5 h-5" viewBox="0 0 24 24">
                  <path
                    d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                  </path>
                </svg>
              </a> -->
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="../static/img/team/diptie.jpeg">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">Diptie Kareer Arora</h2>
            <h3 class="text-gray-500 mb-3">HR Consultant</h3>
            <p class="mb-4">Diptie Kareer Arora is an experienced leader in Employee & Organization Development and a subject matter expert in performance, talent management and development. She brings more than 15 years of experience working for a Transportation company in Texas. She received her Ph.D in Industrial and Organizational Psychology from University of North Texas, Denton.</p>
            <span class="inline-flex">
              <a class="text-gray-500" href="https://www.facebook.com/diptie.arora" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="ml-2 text-gray-500" href="https://www.linkedin.com/in/diptie-arora-81177a108/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-dark">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Numbers</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are strong believers in building long term partnerships with trust, confidence, appreciation and customer satisfaction.</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <i class="fa fa-code fa-3x text-indigo-500 w-12 h-12 mb-3 inline-block"></i>
          <h2 class="title-font font-medium text-3xl text-gray-900">15</h2>
          <p class="leading-relaxed">Projects</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">120</h2>
          <p class="leading-relaxed">Students so far</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <i class="fa fa-graduation-cap fa-3x text-indigo-500 w-12 h-12 mb-3 inline-block"></i>
          <h2 class="title-font font-medium text-3xl text-gray-900">350</h2>
          <p class="leading-relaxed">Hours of Educating</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">2</h2>
          <p class="leading-relaxed">Clients</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
            viewBox="0 0 975.036 975.036">
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
            </path>
          </svg>
          <p class="leading-relaxed mb-6">
            Pranav walked me through the process and made me feel comfortable creating something that would portray my business and me in a positive light. Working with Pranav was an excellent experience throughout the entire project. Most importantly, Pranav is communicative, accessible, proficient and answers all questions patiently. Pranav's technical and professional services were a huge benefit for my business. I would highly recommend his services.
            </p>
          <a class="inline-flex items-center" href="https://yogawithmadhu.com/" target="_blank">
            <img alt="testimonial" src="../static/img/testimonials/Ywm.png"
              class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">MADHU DEV</span>
              <span class="text-gray-500 text-sm text-indigo-500">Founder of Yoga With Madhu</span>
            </span>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4"
            viewBox="0 0 975.036 975.036">
            <path
              d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
            </path>
          </svg>
          <p class="leading-relaxed mb-6">
            Pranav helped me in understanding about MS-Office. He explained various advanced MS-Office tools such as Mail Merge in MS-Word, Macros in MS-Excel and Report and Presentation Designing in MS-PowerPoint. He guided me doing practicals and helped me to explore various other MS-Office tools and taught me in such a way that I am ready to learn future technologies and concepts as well.
            </p>
          <a class="inline-flex items-center">
            <img alt="testimonial" src="../static/img/testimonials/sikh.png"
              class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">JASPREET SINGH BEDI</span>
              <span class="text-gray-500 text-sm">Employee, Indian Railways</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="../static/img/testimonials/ansh.png">
          <p class="leading-relaxed">I like the class very much as it is very interesting. After joining the I learned many things about
            computer. It isn't like other classes which get boring day by day. It is so much fun learning with Pranav
            Sir about various computer technologies like MS-Office, Algorithms and Flowcharts, Scratch Programming and
            Developing Scratch and Android Games. View my <a href="https://scratch.mit.edu/users/BROMASTERULTRA/"
              target="_blank" class="text-indigo-500"> Scratch Profile</a> here.</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">ANSH BHAKUNI</h2>
          <p class="text-gray-500">Class 5th Student</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="../static/img/testimonials/harshita.png">
          <p class="leading-relaxed">We have learnt a lot in Pranav sir's class, more things about Microsoft PowerPoint presentation, Microsoft
            word and Microsoft Excel then, about Algorithms and Flowcharts after that, about scratch coding till now
            we are good at scratch coding and started creating various Scratch and Android Games. After completing
            Scratch coding we will learn about Python coding, website development and lot more... Really excited to
            learn with Pranav Sir. You can view my <a href="https://scratch.mit.edu/users/harshitajeenu09/"
              target="_blank" class="text-indigo-500"> Scratch Profile</a> here.</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HARSHITA SINGH</h2>
          <p class="text-gray-500">Class 6th Student</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 p-4">
        <div class="h-full text-center">
          <img alt="testimonial"
            class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100"
            src="../static/img/testimonials/ayush.png">
          <p class="leading-relaxed">I am really enjoying our computer classes. We have learned MS-PowerPoint, MS-Excel and MS-Word. We have
            also learned about scratch like how to make animation, music, video,games and art. The sir also taught us
            that how to develop Android Games, Cartoon Animation and Stories. Let's have a look on my <a
              href="https://scratch.mit.edu/users/ayush0905/" target="_blank" class="text-indigo-500">Scratch Profile</a>.</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">AYUSH KUSHWAHA</h2>
          <p class="text-gray-500">Class 5th Student</p>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}