<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b48eb98bb3.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/venobox/venobox.css" type="text/css" media="screen" />
    <title>{% block title %}{% endblock title %} | MKCS</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/mykarma_circle.png" />
    <style>
        .logo img {
            height: 69px;
            width: 69px;
            border-radius: 50%;
        }

        .logo-footer img {
            height: 74px;
            width: 74px;
            border-radius: 50%;
            margin: auto;
        }

        .bg-dark {
            background-color: rgb(225, 245, 245);
            color: black;
        }
    </style>
</head>

<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                {% comment %} <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg> {% endcomment %}
                <div class="logo">
                    <a href="/"><img src="../static/img/MyKarma Logo.gif" alt="mykarma consulting services"></a>
                </div>
                <span class="ml-3 text-xl">MyKarma Consulting Services</span>
            </a>
            <nav
                class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-gray-900" href="/">Home</a>
                <a class="mr-5 hover:text-gray-900" href="/services">Our Services</a>
                <a class="mr-5 hover:text-gray-900" href="/projects">Our Projects</a>
                <a class="mr-5 hover:text-gray-900" href="/about">About Us</a>
                <a class="mr-5 hover:text-gray-900" href="https://aurorapranav187.medium.com/" target="_blank">Blog</a>
            </nav>
            <button
                class="animate-pulse inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"><a
                    href="/contact">Contact Us</a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>
    {% block body %} {% endblock body %}
    {% block newsletter %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Sign Up for our Newsletter
                    and Updates</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Get our latest updates and courses information by
                    signing up here.</p>
            </div>
            <form method="post" action="/">
                {% csrf_token %}
                <div
                    class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                    <div class="relative flex-grow w-full">
                        <label for="full-name" class="leading-7 text-sm text-gray-600">Full Name</label>
                        <input type="text" id="full-name" name="full-name"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            required>
                    </div>
                    <div class="relative flex-grow w-full">
                        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
                        <input type="email" id="email" name="email"
                            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            required>
                    </div>
                    <div class="g-recaptcha flex-grow w-full" data-sitekey="6Ldx-4kaAAAAAPCmLOp0RI2kXPb-2eIrLnjz3h74">
                    </div>
                    <button
                        class="animate-pulse text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        type="submit">Submit</button>
            </form>
        </div>
        </div>
    </section>
    {% endblock newsletter %}

    <footer class="text-gray-600 body-font bg-dark">
        <div
            class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
            <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
                <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                    <div class="logo-footer">
                        <a href="/"><img src="../static/img/MyKarma Logo.gif" alt="mykarma consulting services"></a>
                    </div>
                    <span class="text-xl" style="color:black">MyKarma Consulting Services</span>
                </a>
                <p class="mt-2 text-sm text-gray-500">अपि शाकं पचानस्य सुखं वै मघवन गृहे। <br>
                    अर्जितं स्वेन वीर्येण न व्यपाश्रित्य कञ्चन॥</p>
            </div>
            <div class="flex-grow flex flex-wrap md:pr-20 -mb-10 md:text-left text-center order-first">
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">USEFUL LINKS</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/">Home</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services">Our Services</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/projects">Our Projects</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/contact">Contact Us</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="https://aurorapranav187.medium.com/"
                                target="_blank">Blog</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">OUR SERVICES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#api_integration">API
                                Integration</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#wordpress">Build WordPress</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#cloud_migration">Cloud
                                Migration</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#digital_automation">Digital
                                Automation</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#courses_detail">Training
                                Courses</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#full_stack">Web Development</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">OUR COURSES</h2>
                    <nav class="list-none mb-10">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#basic_computing">Basic
                                Computing</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#scratch_programming">Scratch
                                Programming</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#web_development">Web
                                Development</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#python_programming">Python
                                Programming</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800" href="/services#certify">Verify your
                                certificate</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CONTACT US</h2>
                    <nav class="list-none mb-10">
                        <a class="text-indigo-500" href="mailto:mykarmaconsulting@gmail.com"
                            target="_blank">mykarmaconsulting@gmail.com</a>
                        <p class="leading-normal my-5"><strong><i
                                    class="fa fa-whatsapp mx-1"></i>Phone/WhatsApp</strong>
                            <br>+1-469-767-1967
                            <br>+91-6393228937
                        </p>
                    </nav>
                </div>
            </div>
        </div>
        <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
                <p class="text-gray-500 text-sm text-center sm:text-left">© 2021 MyKarmaConsulting —
                    <a href="https://twitter.com/mykarma11" rel="noopener noreferrer" class="text-gray-600 ml-1"
                        target="_blank">@mykarma11</a>
                </p>
                <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                    <a class="text-gray-500" href="https://www.facebook.com/mykarma11" target="_blank">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500" href="https://twitter.com/mykarma11" target="_blank">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="w-5 h-5" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500" href="https://www.instagram.com/mykarmaconsultingservices/"
                        target="_blank">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="ml-3 text-gray-500" href="https://www.linkedin.com/company/mykarma-consulting-services"
                        target="_blank">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/venobox/venobox.js"></script>
    <script>
        $(document).ready(function () {
            $('.venobox').venobox();
        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


</body>

</html>