{% extends 'base.html' %}

{% block title %}Our Projects{% endblock title %}

{% block body %}
<section class="text-gray-600 body-font bg-dark">
  <div class="container mx-auto flex px-5 py-8 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="../static/img/projects.jpg">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Projects

      </h1>
      <p class="mb-8 leading-relaxed">We build tech solutions and teach young buds so they can develop real world projects so easily as they play games. In the world of playing games, our students build games. We have also added few of our projects to showcase what we can achieve.</p>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">View our projects</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">You can view the projects made by us and our students. Check them out by tapping/clicking on them.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/cv.jpg">
          <a href="https://youtu.be/GbilvsamcRQ" data-gall="project_gallery"class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PYTHON COMPUTER VISION</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Virtual Draw</h1>
            <p class="leading-relaxed">This projects deals with the computer vision class of python. Whatever is drawn in the air, will be displayed on the screen as an output.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/maya.jpg">
          <a href="https://youtu.be/mO7uyD-qTX4" data-gall="project_gallery" class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">VIRTUAL ASSISTANT</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Maya</h1>
            <p class="leading-relaxed">Voice User Interface built using python. It can manage your computer, emails and lot more. Check the video.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/hit_log.jpg">
          <a href="https://scratch.mit.edu/projects/487522880" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0         hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">GAME DEVELOPMENT</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Target the log</h1>
            <p class="leading-relaxed">Project made by Ansh Bhakuni, Sakshi, Harshita Singh and Harsh Kumar. Click to play the game.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/excel_auto.png">
          <a href="https://youtu.be/2PDkjLOpuX8" data-gall="project_gallery" class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PYTHON DIGITAL AUTOMATION</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Get Rank and Merit List</h1>
            <p class="leading-relaxed">This projects takes the excel file with marks and name/roll no. of students, and returns ranks and merit list in an excel file.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/cancer.jpg">
          <a href="https://youtu.be/g4ox5jJfjyk" data-gall="project_gallery" class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PYTHON MACHINE LEARNING</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Breast Cancer Detection</h1>
            <p class="leading-relaxed">It gets and analyses the data using Pandas library and uses KNeighbors algorithm of ML to predict breast cancer.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/cardio.jpg">
          <a href="https://youtu.be/WJiiczSa1ms" data-gall="project_gallery" class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PYTHON DATA ANALYSIS</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">US Cardiovascular Data Analysis</h1>
            <p class="leading-relaxed">This projects gets the US cardiovascular data and analyses using libraries such as Pandas, Matplotlib and Seaborn.</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-0 mx-auto">
      <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/census.jpg">
          <a href="https://youtu.be/mV5M6y-XkC8" data-gall="project_gallery" class="venobox" data-autoplay="true" data-vbtype="video">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">PYTHON DATA ANALYSIS</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">US Census Data Analysis</h1>
            <p class="leading-relaxed">This projects deals with the US census data and uses Pandas to get insights into the data.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/gems.jpg">
          <a href="https://scratch.mit.edu/projects/490438922" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">SCRATCH PROGRAMMING</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Collect the Gems</h1>
            <p class="leading-relaxed">The project was made by Akshat Kumar (Class 5th Student) using scratch. Click to play the game.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/dimensions.jpg">
          <a href="https://scratch.mit.edu/projects/486527087" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">GAME DEVELOPMENT</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dimensions Runner</h1>
            <p class="leading-relaxed">This project was made by Ansh Bhakuni (Class 5th Student). The character walks through different scenarios.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/mall_story.jpg">
          <a href="https://scratch.mit.edu/projects/484364273" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">CARTOON ANIMATION</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Mall Story</h1>
            <p class="leading-relaxed">Harshita Singh (Class 6th Student) made this animated story in Scratch. Click to watch the story.</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/donuts.jpg">
          <a href="https://scratch.mit.edu/projects/488642220" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">SCRATCH PROGRAMMING</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Catch the Donuts</h1>
            <p class="leading-relaxed">Move or tap to catch the donuts and feed the crab. This game was developed by Aradhya Singh (Class 5th Student).</p>
          </div>
          </a>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="../static/img/projects/dino.jpg">
          <a href="https://scratch.mit.edu/projects/487596633" target="_blank">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">GAME DEVELOPMENT</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dino Jump</h1>
            <p class="leading-relaxed">Rescue the dino from the fire balls. This game was developed by Ayush Kushwaha (Class 5th Student).</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}